.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: #5451a6;
}
button {
  cursor: pointer;
  background: #fff;
  color: #5451a6;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  margin: 1rem 0.3rem;
}
h1 {
  color: #fff;
}
p {
  color: #fff;
}
li {
  color: #fff;
  list-style: none;
  padding: 1rem;
  border: 1px solid #d1d5db;
  width: 70%;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
}
